{% extends 'base.html' %}
{% block title %}RateReview{% endblock %}
{% load static %}

{% block css %}

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.4.1/croppie.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="{% static "movies/create.css" %}"/>

{% endblock %}
{% block content %}

     <div class="topic">
        <h1>CREATE</h1>

        </div>

    {% if request.user.is_authenticated %}
    <div class="info">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 offset-sm-4">
                <form action="{% url 'movies:create_movie'%}" method = "post" enctype='multipart/form-data' id="create-form">
                {% csrf_token %}
                {% for field in form1 %}
                    <div class="form-group">
                        <div class="detail">
                            <div class = "inp">
                                <h3>{{ field.label_tag }}</h3>
                                {{ field }}
                                {{ field.errors }}
                            </div>   
                        </div>
                    </div>
                {% endfor %}
                    <div id="actor-wrapper">
                        <h3>Actors:</h3>
                        <p><span class="clickable">&#10010;</span></p>
                        {% if is_actor_error %}
                        <p style="color:white;">Insert atleast one actor</p>
                        {% endif %}
                        {{ actorforms.non_form_errors }}
                        {{ actorforms.management_form }}
                        {% for actor_form in actorforms %}
                        <div class="form-group">
                        {{ actor_form.actor_name }}
                        </div>
                        {% endfor %}
                    </div>
                    <div id="genre-wrapper">
                        <h3>Genres:</h3>
                        <p><span class="clickable">&#10010;</span></p>
                        {% if is_genre_error %}
                        <p style="color:white;">Select atleast one genre</p>
                        {% endif %}
                        {{ genreforms.non_form_erros }}
                        {{ genreforms.management_form }}

                        {% for genre_form in genreforms %}
                        <div class="form-group">
                        {{ genre_form.genre }}
                        </div>
                        {% endfor %}
                    </div>
                <button type="submit" class="btn btn-success" style="cursor: pointer;margin-top:20px;">CREATE</button>
                </form>
            </div>
        </div>
    </div>  
</div>
        

{% endif %}
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.4.1/croppie.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'movies/create.js' %}"></script>
{% endblock %}