{% extends 'base.html' %}
{% block title %}RateReview - Recipe{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'recipes/css/search.css' %}">
{% endblock %}
{% block content %}
<div class="container" style="margin-top:20px;">
    <div class="row">
        <div class="col-sm-3">
            <div class="smooth-border">
                <h4>Categories</h4>
                <hr>
                <ul class="list-unstyled">
                    {% for cat in category_list %}
                    <li><a href="{% url 'recipes:search' %}?category={{ cat }}">{{ cat }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% if request.user.is_authenticated %}
            <div class="smooth-border">
                <h4>Your Recipes</h4>
                <hr>
                <ul class="list-unstyled">
                    {% for recipe in user_recipe %}
                    <li><a href="{% url 'recipes:view' recipe.id %}">{{ recipe.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="smooth-border">
                <h4>Favourite Recipes</h4>
                <hr>
                <ul class="list-unstyled">
                    {% for save in savelist %}
                    <li><a href="{% url 'recipes:view' save.recipe.id %}">{{ save.recipe.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="smooth-border">
                <h4>Follower's Recipes</h4>
                <hr>
                <ul class="list-unstyled">
                    {% for followperson, recipe_list in follow_dict.items %}
                    <li class="follow-list"><h5 class="follow-name"><a href="{% url 'accounts:profile' followperson.following.get_username %}"><img src="{{ followperson.following.image.url }}" class="follow-img">{{ followperson.following.get_username }}</a></h5><hr class="follow-hr">
                        <ul class="list-unstyled">
                        {% for recip in recipe_list %}
                            <li><a href="{% url 'recipes:view' recip.id %}">{{ recip.title }}</a></li>
                        {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="col-sm-8">
            <div class="smooth-border">
                <h2>Recipes</h2>
                <hr>
                <a class="btn btn-warning" href="{% url 'recipes:create' %}">&#10010; Create Recipe</a>
            </div>
            <div class="smooth-border">
                <h3>Search Recipes:</h3>
                <hr>
                <form class="form-inline" method="get" action="{% url 'recipes:search' %}">
                    <input type="text" class="form-control mr-2" name="keyword" id="keyword" placeholder="Search" style="width:40%;">
                    <select class="custom-select mr-2" name="category" id="category" style="width:20%;">
                        <option value="All" selected>All</option>
                        {% for cat in category_list %}
                        <option value="{{ cat }}">{{ cat }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-warning" style="cursor:pointer">Search</button>
                </form>
                
                <p style="margin-top:10px;margin-bottom:0;">
                    <em>
                        {% if request.GET.keyword or request.GET.category %}Displaying result for -{% endif %}
                        {% if request.GET.keyword %}{{ request.GET.keyword }}{% endif %}
                        {% if request.GET.category %}{{ request.GET.category }}{% endif %}
                    </em>
                </p>
            </div>
            {% for recipe in recipe_result %}
            <div class="smooth-border">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="{% url 'recipes:view' recipe.id %}">
                            <img class="img-thumbnail" src="{{ recipe.cover_image.url }}">
                        </a>
                    </div>
                    <div class="col-sm-8">
                        <h4><a href="{% url 'recipes:view' recipe.id %}">{{ recipe.title }}</a></h4>
                        <p style="margin-bottom:0;">
                            {% if recipe.get_rating > 0 %}
                                {% if recipe.get_rating > 1 %}
                                    {% if recipe.get_rating > 2 %}
                                        {% if recipe.get_rating > 3 %}
                                            {% if recipe.get_rating > 4 %}
                                            <span class="rate-icon warning-color">&#9885; &#9885; &#9885; &#9885; &#9885;</span>
                                            {% else %}
                                            <span class="rate-icon warning-color">&#9885; &#9885; &#9885; &#9885;</span>
                                            {% endif %}
                                        {% else %}
                                        <span class="rate-icon warning-color">&#9885; &#9885; &#9885;</span>
                                        {% endif %}
                                    {% else %}
                                    <span class="rate-icon warning-color">&#9885; &#9885;</span>
                                    {% endif %}
                                {% else %}
                                <span class="rate-icon warning-color">&#9885;</span>
                                {% endif %}
                            <em>({{ recipe.get_total_rating }} Review{{ recipe.get_total_rating|pluralize }})</em>
                            {% else %}
                            <em>No Reviews yet.</em>
                            {% endif %}
                        </p>
                        <p>{{ recipe.description }}</p>
                        <p style="margin-bottom:2px;">Recipe by: <a href="{% url 'accounts:profile' recipe.recipe_by.get_username %}">{{ recipe.recipe_by.get_username }}</a></p>
                        <p>Created on: {{ recipe.pub_date|date:"d M Y" }}</p>
                        <a href="{% url 'recipes:view' recipe.id %}" class="btn btn-warning">View Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <nav>
                <ul class="pagination justify-content-center">
                    {% if recipe_result.has_previous %}
                    <li class="page-item"><a class="page-link" href="?{% if request.GET.keyword %}keyword={{ request.GET.keyword }}&{% endif %}{% if request.GET.category %}category={{ request.GET.category }}&{% endif %}page={{ recipe_result.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    {% for r in recipe_result.paginator.page_range %}
                    {% if r == recipe_result.number %}
                    <li class="page-item active"><a class="page-link" href="?{% if request.GET.keyword %}keyword={{ request.GET.keyword }}&{% endif %}{% if request.GET.category %}category={{ request.GET.category }}&{% endif %}page={{ r }}">{{ r }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?{% if request.GET.keyword %}keyword={{ request.GET.keyword }}&{% endif %}{% if request.GET.category %}category={{ request.GET.category }}&{% endif %}page={{ r }}">{{ r }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if recipe_result.has_next %}
                    <li class="page-item"><a class="page-link" href="?{% if request.GET.keyword %}keyword={{ request.GET.keyword }}&{% endif %}{% if request.GET.category %}category={{ request.GET.category }}&{% endif %}page={{ recipe_result.next_page_number }}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
