/*
header{
    padding-bottom: 120px;
    
    max-width: auto;
}*/
.topic {
    padding-bottom: 120px;
    max-width: auto;
    font-family: "Ravie";
    text-align: center;
    color: wheat;
     padding-top: 20px;  

}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(bg.jpg);
}
.detail{
    /*text-align: center;*/
    padding-top: 20px;
}
input, h3{
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
    
}
h3{
    color: wheat;
    display:block;
}
.info{
    padding-top: 5%;;
}

.clear-float {
    clear: right;
    clear: left;
}

.clickable {
    color: white;
}

.clickable:hover {
    cursor:pointer;
}
