{% extends 'base.html' %}
{% load static %}
{% block title %}RateReview - {{ profile.get_username }}{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/profile.css' %}">
{% endblock %}
{% block content %}
<div class="container">
        <div class="row">
            <div class="col-sm-3 sidebar smooth-border">
				{% include 'accounts/profile_sidebar.html' with profile=profile %}
            </div>
            <div class="col-sm-8 profile-container">
                <div class="row smooth-border">
                    <h1>{{ profile.get_username|title }}</h1>
                    <h3>{{ profile.get_full_name }}</h3>
                    <p>{{ profile.description }}</p>
                    <hr>
                    <h2>Posts</h2>
                    {% if request.user.is_authenticated %}
                    <form method="post" action="{% url 'accounts:profile_post' profile.get_username %}" id="profile-post">
						{% csrf_token %}
						{{ message_form.post }}
                        <button type="submit" class="btn btn-success">Post</button>
                    </form>
                    {% else %}
                    <hr>
                    <a class="btn btn-success" href="{% url 'accounts:login' %}?next={{ request.path }}">Post Something</a>
                    {% endif %}
                </div>

                <div id="message-output">
                    <!-- Message Start -->
					{% include 'accounts/post_message.html' with messages=messages profile=profile reply_form=reply_form %}
                    <!-- Message End -->
                </div>
                
                <form method="post" action="{% url 'accounts:profile' profile.get_username %}" id="more-post-form">
                    {% csrf_token %}
                    <input type="hidden" name="post_num" id="post_num">
                </form>
                <div class="row text-center hidden" id="no-more-posts">
                    <h1>No More Posts</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{% static 'accounts/scripts/profile.js' %}" type="text/javascript"></script>
{% endblock %}