{% extends 'base.html' %} 
{% load static %}
{% block title %}RateReview - Sign Up{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/register.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="register-container">
            <h2>Register</h2>
            <hr>
            <form method="post" action="{% url 'accounts:register' %}">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                <hr>
                <button class="btn btn-lg btn-success btn-block" type="submit" style="cursor:pointer;">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'accounts/scripts/register.js' %}" type="text/javascript"></script>
{% endblock %}
