<!DOCTYPE html>


<html lang = 'en'>
<head>
    <title>
        Create Book
    </title>
</head>
<body>
    <div>
        Enter Book's info
    </div>
    
    <form action="/create-book/ " method = "post">
        <!--
        ISBN: <input type="text" name="isbn" required><br>
        Book name: <input type="text" name="book_name"><br>
        Author name: <input type = "text" name = "author_name"> <br>
        
        Genre  
        <select name = "select1">
            <option values = "" disabled selected> -- Select genre -- </option>
            <option value = "fiction"> Fiction </option>
            <option value = "non-fiction"> Non Fiction </option>
            <option value = "other"> other </option>
        </select>
        -->
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    </body>
</html>