<!DOCTYPE html>


<html lang = 'en'>
<head>
    <title>
        Create Book
    </title>
</head>
<body>
    <div>
        Enter Book's info
    </div>
    
    {% if error %}
        {{ error }}
    {% endif %}
    
    <form action="{% url 'books:create_book'%}" method = "post" enctype='multipart/form-data'>
        {% csrf_token %}
        {% for field in form %}
        <div>
            {{ field.errors}}
            {{ field.label_tag}} {{field}} <br>
        </div>
        {% endfor %}
        
        <input type="submit" value="Submit">
    </form>
    </body>
</html>